<template name="emulator">
  <div id="Rom">
    <div class="name fs40">{{ rom.name }}</div>
    <div class="name fs20">{{ rom.description }}</div>

    <canvas id="Emulator" width="256" height="240"></canvas>
    <div class="sigmar fs20 fps">{{ session 'status' }}</div>
    {{ > controls }}
  </div>
</template>

<template name="upload">
  <input type="file" class="dn" id="File" accept=".nes">
  <a href="#" id="Play" class="resetborder mr10">
    <i class="fa fa-upload"></i>
    {{# if uploadQueue.isRunning }}
      Uploading..
    {{ else }}
      Upload and Play
    {{/if}}
  </a>
</template>

<template name="controls">
  <table id="Controls" class="sigmar">
    <tbody>
      <tr class="controls-header">
        <th>Button</th>
        <th>Player 1</th>
        <th>Player 2</th>
      </tr>
        <tr>
            <td>Left</td>
            <td>Left</td>
            <td>Num-4</td>
        </tr><tr>
            <td>Right</td>
            <td>Right</td>
            <td>Num-6</td>
        </tr>
        <tr>
            <td>Up</td>
            <td>Up</td>
            <td>Num-8</td>
        </tr>
        <tr>
            <td>Down</td>
            <td>Down</td>
            <td>Num-2</td>
        </tr>
        <tr>
            <td>A</td>
            <td>X</td>
            <td>Num-7</td>
        </tr>
        <tr>
            <td>B</td>
            <td>Z</td>
            <td>Num-9</td>
        </tr>
        <tr>
            <td>Start</td>
            <td>Enter</td>
            <td>Num-1</td>
        </tr>
        <tr>
            <td>Select</td>
            <td>Ctrl</td>
            <td>Num-3</td>
        </tr>
    </tbody>
  </table>
</template>
