<head>
  <title>nes</title>
</head>

<template name="layout">
  {{ > forkme }}
  {{ > user }}
  <div id="Main">
    <div class="container">{{ > yield }}</div>
  </div>
</template>

<template name="user">
  <div id="User">
    {{ > upload }}
    {{# if isAuthenticated }}
      {{# if isInRole 'admin'}}
        <a href="{{ pathFor route='AdminDashboard' }}" class="admin">admin</a>
      {{/if}}
      <a href="/">{{ currentUser.username }}</a>
      <a href="/logout" class="logout resetborder">logout</a>
    {{ else }}
      <a href="{{ pathFor route='atSignIn' }}" class="resetborder">Sign In</a>
      <a href="{{ pathFor route='atSignUp' }}">Sign up</a>
    {{/if}}
  </div>
</template>

<template name="forkme">
  <a href="https://github.com/yasaricli/nes">
    <img class="forkme" src="/forkme_left.png" alt="Fork me on GitHub">
  </a>
</template>

<template name="loading">
  <div class="loading sigmar">loading..</div>
</template>

<template name="notFound">
  <div class="notFound condensed">
    <div class="fs40">Page not found</div>
    <div>Go to the <a href="{{ pathFor route='Roms' }}">roms</a> page.</div>
  </div>
</template>
