<template name="roms">
    {{ > insertRomForm }}
    <span class="anton fs40">ROMS</span>
    <ul id="Roms" class="clearfix">
        {{#each roms }}
            <li>
                {{# if image }}
                    <img src="{{ image.url }}">
                {{/if}}
                <span class="name">{{ name}}</span>
                <a href="{{ pathFor route='Rom' }}">PLAY</a>
            </li>
        {{ else }}
            <li class="empty sigmar">no roms!</li>
        {{/each}}
    </ul>
</template>

<template name="rom">
    <div id="Rom">
        <div class="name fs40">{{ rom.name }}</div>
        <div class="name fs20">{{ rom.description }}</div>
        <canvas id="Emulator" width="256" height="240"></canvas>
        <div class="sigmar fs20">{{ session 'status' }}</div>
        {{ > controls }}
    </div>
</template>

<template name="insertRomForm">
    {{#if isInRole 'admin'}}
        {{#autoForm collection="Roms" id="insertRomForm" type="insert"}}
            <span class="anton fs40">ADD ROM</span>
            {{> afQuickField name='name' }}
            {{> afQuickField name='description' }}
            {{> afQuickField name='imageId' }}
            {{> afQuickField name='fileId' }}
            {{> afQuickField name='active' }}
            <button type="submit" class="btn btn-primary">Insert Rom</button>
        {{/autoForm}}
    {{/if}}
</template>

<template name="controls">
    <table id="Controls" class="sigmar">
        <tbody><tr>
            <th>Button</th>
            <th>Player 1</th>
            <th>Player 2</th>
        </tr>
        <tr>
            <td>Left</td>
            <td>Left</td>
            <td>Num-4</td>
        </tr><tr>
            <td>Right</td>
            <td>Right</td>
            <td>Num-6</td>
        </tr>
        <tr>
            <td>Up</td>
            <td>Up</td>
            <td>Num-8</td>
        </tr>
        <tr>
            <td>Down</td>
            <td>Down</td>
            <td>Num-2</td>
        </tr>
        <tr>
            <td>A</td>
            <td>X</td>
            <td>Num-7</td>
        </tr>
        <tr>
            <td>B</td>
            <td>Z</td>
            <td>Num-9</td>
        </tr>
        <tr>
            <td>Start</td>
            <td>Enter</td>
            <td>Num-1</td>
        </tr>
        <tr>
            <td>Select</td>
            <td>Ctrl</td>
            <td>Num-3</td>
        </tr>
    </tbody></table>
</template>
